.SideBer
  .SideBer__UserName
    .TopItems__Name
      name
      .TopItems__Icons__pen
        = link_to "#", class: "contents__btn" do
          = icon('fas', 'edit')
      .TopItems__Icons__Haguruma
        = link_to "#", class: '.TopItems__Icons__firest' do
          = icon('fas', 'cog')

    .SideBer__GroupList
      .SideBer__GroupList__firest
        test
        .SideBer__GroupList__second
          まだ新着メッセージはありません